.main-content{
  margin-top: 100px;
  margin-bottom: 75px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 25px;
}

.container-fluid {
  padding: 0;
}

.footer {
  padding: 0;
}
