.main-content{
  margin-top: 35px;
  margin-bottom: 75px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 25px;
}

.container-fluid {
  padding: 0;
}

.footer {
  padding: 0;
}

.tos ul {
  padding-left: 5px;
}

.tos li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 10px;
}

.tos {
  margin-top: 18px;
  margin-bottom: 10px;
}

#the_title {
  margin-top: 0;
}

#image_team {
  margin-bottom: 30;
}
