<hr class="mx-5">
<div class="container mt-5 d-flex justify-content-between">
  <div class="d-flex align-items-start flex-column mb-4">
    <div class="d-flex align-items-center justify-content-center mb-auto">
      <%= image_tag "CIRCLE_logo.png", class: 'logo'%>
      <p class="m-0 ps-2">CIRCLE</p>
    </div>
    <div>
      <ul class="footer-circle d-flex">
        <li class="me-4"><i class="fa-brands fa-facebook"></i></li>
        <li class="me-4"><i class="fa-brands fa-linkedin"></i></li>
        <li class="me-4"><i class="fa-brands fa-youtube"></i></li>
        <li class="me-4"><i class="fa-brands fa-instagram"></i></li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="footer-circle">
      <li class="mb-4">About Us</li>
      <li class="mb-4">Contact</li>
      <li class="mb-4">Terms of Service</li>
    </ul>
  </div>
</div>
