<div class="container bs5-grid-row p-0">
  <h2 class="mb-5">Contact</h2>
  <%= render 'form' %>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
