<div class="container">

  <div class="d-flex mt-4">

    <div class="w-50">
    <img src="https://images.riverisland.com/image/upload/t_ProductImagePortraitLarge/909319_main?$ProductListingPortrait$" alt="Dress" class="img-fluid rounded-4">
    </div>

    <div class="card w-50 px-4 border border-0">
      <div class="card-body">
        <h2 class="pb-4 mt-0"><%= @item.name.capitalize %></h2>
        <h5 class="pb-4 fw-lighter text-muted">Brand: <%= @item.brand %></h5>
        <h5 class="pb-4 fw-lighter text-muted">Size: <%= @item.size %></h5>
        <h5 class="pb-4 fw-light">Rent from: EUR <%= @item.price %> / day</h5>
        <p class="pb-4 text-muted">Description we don't have yet</p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Request rental
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Request rental</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                </p>Your rental has been requested!<p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark rounded-4" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

</div>
